/**
 * @author fuqiang[designsor@gmail.com]
 * @version 20111009
 * @fileoverview 相关分享图标样式
 */
.J_Share a.tsina,
.J_Share a.taojianghu,
.J_Share a.qzone,
.J_Share a.tqq,
.J_Share a.youdao,
.J_Share a.renren,
.J_Share a.kaixin,
.J_Share a.baidu,
.J_Share a.buzz,
.J_Share a.souhu,
.J_Share a.s139,
.J_Share a.douban,
.J_Share a.tsouhu,
.J_Share a.w51{
	background:url(http://s1.ifiter.com/static/images/sharebg.png) no-repeat;
	display:inline-block;
	width:18px!important;
	height:18px!important;
	overflow:hidden;
	vertical-align:middle;
	vertical-align:sub\9;
	*vertical-align:baseline;
	margin-right:4px;
	
	*display:inline;
	*zoom:1;
}

.J_Share a.tsina{
	background-position:-12px -153px;
}

.J_Share a.taojianghu{
	background-position:-12px -81px;
}

.J_Share a.qzone{
	background-position:-12px -333px;
}

.J_Share a.tqq{
	background-position:-12px -369px;
}

.J_Share a.youdao{
	background-position:-12px -117px;
}

.J_Share a.renren{
	background-position:-12px -189px;
}

.J_Share a.kaixin{
	background-position:-12px -261px;
}

.J_Share a.baidu{
	background-position:-12px -297px;
}

.J_Share a.buzz{
	background-position:-12px -226px;
}

.J_Share a.souhu{
	background-position:-12px -441px;
}

.J_Share a.s139{
	background-position:-12px -406px;
}

.J_Share a.douban{
	background-position:-12px -549px;
}

.J_Share a.tsouhu{
	background-position:-12px -477px;
}

.J_Share a.w51{
	background-position:-12px -513px;
}



.J_Share a.tsina:hover{
	background-position:-43px -153px;
}

.J_Share a.taojianghu:hover{
	background-position:-43px -81px;
}

.J_Share a.qzone:hover{
	background-position:-43px -333px;
}

.J_Share a.tqq:hover{
	background-position:-43px -369px;
}

.J_Share a.youdao:hover{
	background-position:-43px -117px;
}

.J_Share a.renren:hover{
	background-position:-43px -189px;
}

.J_Share a.kaixin:hover{
	background-position:-43px -261px;
}

.J_Share a.baidu:hover{
	background-position:-43px -297px;
}

.J_Share a.buzz:hover{
	background-position:-43px -226px;
}

.J_Share a.souhu:hover{
	background-position:-43px -441px;
}

.J_Share a.s139:hover{
	background-position:-43px -406px;
}

.J_Share a.douban:hover{
	background-position:-43px -549px;
}

.J_Share a.tsouhu:hover{
	background-position:-43px -477px;
}

.J_Share a.w51:hover{
	background-position:-43px -513px;
}
